@font-face {
  font-family: "iconfont"; /* Project id 4773784 */
  src: url('iconfont.woff2?t=1733587130587') format('woff2'),
       url('iconfont.woff?t=1733587130587') format('woff'),
       url('iconfont.ttf?t=1733587130587') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoucang:before {
  content: "\e65e";
}

