<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.commentanalysis.mapper.ProductMapper">
    <select id="getProductInfoByPidList" resultType="ProductInfoDTO">
        SELECT * FROM original_data_tb_product
        WHERE pid IN
        <foreach collection="pidList" item="pid" open="(" separator="," close=")">
            #{pid}
        </foreach>
    </select>
</mapper>